#inputSubAct{
    width: 500px;

}

#selectEnc{
    width: 250px;
}

#inputEmail4{
    width: 300px;
}

#Actividada{
    width: 500px;
}

#fechaI{
    width: 150px;
    margin-left: 10px;
}

#fechaF{
    width: 150px;

    margin-left: 10px;
}

#etiquetaF{
    margin-left: 100px;   
}

#btnGuardar{
    margin-left: 500px;
    margin-top: 15px;
}