<form class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label for="inputEmail4" class="form-label">Actividad</label>
        <input type="email" class="form-control" id="Actividada">
    </div>
    <div class="col-auto">
        <label for="inputCity" class="form-label">Encargado</label>
        <select id="inputState" class="form-select" id="selectEnc">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-auto">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-auto">
        <label for="inputPassword4" class="form-label">Subactividad</label>
        <input type="password" class="form-control" id="inputSubAct" placeholder="Subactividad 1">
    </div>
    <div class="col-auto">
        <label for="inputCity" class="form-label">Encargado</label>
        <select id="inputState" class="form-select" id="selectEnc">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-auto">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-auto">
        <label for="inputAddress" class="form-label">Subactividad</label>
        <input type="text" class="form-control" id="inputSubAct" placeholder="Subactividad 2">
    </div>
    <div class="col-auto">
        <label for="inputCity" class="form-label">Encargado</label>
        <select id="inputState" class="form-select" id="selectEnc">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-auto">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-auto">
        <label for="inputAddress2" class="form-label">Subactividad</label>
        <input type="text" class="form-control" id="inputSubAct" placeholder="Subactividad 3">
    </div>
    <div class="col-auto">
        <label for="inputCity" class="form-label">Encargado</label>
        <select id="inputState" class="form-select" id="selectEnc">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-auto">
        <label for="inputEmail4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Recursos</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div>
        <label for="">Fecha Incio</label>
        <input type="date" id="fechaI">
        <label for="" id="etiquetaF">Fecha final</label>
        <input type="date" id="fechaF">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
    </div>
</form>