<!-- tu-componente.component.html -->

<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Resumen</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="project-box">
                  <p>Iprimir Documentos</p>
                  <h2>{{ numPDFs }}</h2>
                  <form [formGroup]="documentoForm" role="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="email">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" formControlName="email" />
                      <div
                        *ngIf="documentoForm.get('email').hasError('required') && documentoForm.get('email').touched"
                        class="text-danger"
                      >
                        *Campo requerido
                      </div>
                      <div
                        *ngIf="documentoForm.get('email').hasError('email') && documentoForm.get('email').touched"
                        class="text-danger"
                      >
                        *Ingrese un correo electrónico válido
                      </div>
                    </div>
  
                    <div class="form-group" style="margin: 20px;">
                      <label for="file">Adjuntar PDF:</label>
                      <input type="file" id="fileSource" formControlName="fileSource" (change)="onFileChange($event)" multiple />
                      <div
                        *ngIf="documentoForm.get('fileSource').hasError('required') && documentoForm.get('fileSource').touched"
                        class="text-danger"
                      >
                        *Sólo puede subir un archivo, si desea añadir más archivos lo podrá hacer más adelante
                      </div>
                    </div>
  
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-default">Cancelar</button>
                  </form>
                </div>
              </div>
              <div class="col-md-3">
                <div class="project-box">
                  <p>Documentos</p>
                  <h2>{{ numPDFs }}</h2>
                </div>
              </div>
              <div class="col-md-3">
                <div class="status-box">
                  <p>Pendientes</p>
                  <h2>{{ numPDFsPendientes }}</h2>
                </div>
              </div>
              <div class="col-md-3">
                <div class="status-box">
                  <p>En revisión</p>
                  <h2>{{ numPDFsEnRevision }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Pendientes</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let documento of documentosPendientes">
                <div class="project-list" (click)="redirectToPDF(documento)">
                  <p>{{ documento.idDocumento }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>En revisión</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" *ngFor="let documento of documentosEnRevision">
                <div class="project-list" (click)="redirectToPDF(documento)">
                  <p>{{ documento.idDocumento }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  