<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Resumen</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="project-box">
                                    <p>Documentos</p>
                                    <h2>{{ numPDFs }}</h2>
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Pendientes</p>
                                    <h2>{{ numPDFsPendientes }}</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>En revisión</p>
                                    <h2>{{ numPDFsEnRevision }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pendientes -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Pendientes</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let documento of documentosPendientes">
                        <div class="project-list" (click)="redirectToPDF(documento)">
                            <p>{{ documento.idDocumento }}</p>
                            <p>{{ documento.gmailPropietario }}</p>
                            <p>{{ documento.rutaDocumento }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- En revisión -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>En revisión</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" *ngFor="let documento of documentosEnRevision">
                        <div class="project-list" (click)="redirectToPDF(documento)">
                            <p>{{ documento.idDocumento }}</p>
                            <p>{{ documento.gmailPropietario }}</p>
                            <p>{{ documento.rutaDocumento }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>